block vars 
	- var title = '';
	- var lang = '';
	- var type = '';
	- var description = '';
	- var siteName = '';
	- var keywords = '';
	- var url = '';
	- var imageLogo = '';
	- var typeImage = '';
	- var widthImage = '';
	- var heightImage = '';
	- var favicon = '';
	- var font = '';
	- var light = '';
	- var dark = '';
doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		meta(property="og:type" content=type)
		meta(property="og:title" content=title)
		meta(property="og:site_name" content=siteName)
		meta(property="og:url" content=url)
		meta(property="og:description" content=description)
		meta(property="og:image" content=imageLogo)
		meta(property="og:image:type" content=typeImage)
		meta(property="og:image:width" content=widthImage)
		meta(property="og:image:height" content=heightImage)
		meta(name="color-scheme" content="light dark")
		meta(name="theme-color" media="(prefers-color-scheme: light)" content=light)
		meta(name="theme-color" media="(prefers-color-scheme: dark)" content=dark)
		link(rel="preload" href=font as="font" type="font/woff2" crossorigin)
		link(rel="shortcut icon" href=favicon type="image/png")
		link(rel="stylesheet" href="css/style.min.css")
		script const detect=function(A=[]){var t=[{type:"webp",url:"data:image/webp;base64,UklGRhwAAABXRUJQVlA4TBAAAAAvAAAAEAfQpv5HmQMR0f8A"},{type:"avif",url:"data:image/avif;base64,AAAAHGZ0eXBtaWYxAAAAAG1pZjFhdmlmbWlhZgAAAPFtZXRhAAAAAAAAACFoZGxyAAAAAAAAAABwaWN0AAAAAAAAAAAAAAAAAAAAAA5waXRtAAAAAAABAAAAHmlsb2MAAAAABEAAAQABAAAAAAEVAAEAAAAeAAAAKGlpbmYAAAAAAAEAAAAaaW5mZQIAAAAAAQAAYXYwMUltYWdlAAAAAHBpcHJwAAAAUWlwY28AAAAUaXNwZQAAAAAAAAABAAAAAQAAABBwYXNwAAAAAQAAAAEAAAAVYXYxQ4EgAAAKBzgABpAQ0AIAAAAQcGl4aQAAAAADCAgIAAAAF2lwbWEAAAAAAAAAAQABBAECg4QAAAAmbWRhdAoHOAAGkBDQAjITFkAAAEgAAAB5TNw9UxdXU6F6oA == "}].concat(A),e={},a=[],o=document.querySelector("html");return t.map(((A,t)=>{!function(A){let t=new Image;t.src=A.url,t.onerror=function(t){var s=new Set(o.getAttribute("class")?o.getAttribute("class").split(" "):[]);a.push(new Promise((function(t,a){e[A.type.toLowerCase()]=!1,t({[A.type.toLowerCase()]:!1})}))),s.add("no-"+A.type.toLowerCase()),o.setAttribute("class",[...s].join(" "))},t.onload=function(t){var s=new Set(o.getAttribute("class")?o.getAttribute("class").split(" "):[]);a.push(new Promise((function(t,a){e[A.type.toLowerCase()]=!0,t({[A.type.toLowerCase()]:!0})}))),s.add(A.type.toLowerCase()),o.setAttribute("class",[...s].join(" "))}}(A)})),Promise.all(a).then((function(){return e}))};detect();
		title #{title}
	body
		block content
